name: test-ci

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              uses: actions/setup-node@v1
            - name: Install docker image
              run: docker build -t jelmore1674/test-ci:latest -f Dockerfile.dev .
            - name: Run tests
              run: docker run -e CI=true jelmore1674/test-ci npm run test
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Deploy source-code
              uses: appleboy/scp-action@master
              with:
                  HOST: ${{ secrets.SSH_HOST }}
                  USERNAME: ${{ secrets.SSH_USERNAME }}
                  PORT: 22
                  PASSWORD: ${{ secrets.SSH_PASS }}
                  source: '*'
                  target: '/testapp'
