name: test-ci

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - name: Install dependencies
              uses: actions/setup-node@v1
            - name: Install docker image
              run: docker build -t jelmore1674/test-ci:latest -f Dockerfile.dev .
            - name: Run tests
              run: docker run jelmore1674/test-ci npm run test
